{
  "cli": {
    "version": ">= 5.9.1",
    "appVersionSource": "remote"
  },
  "build": {
    "development": {
      "developmentClient": true,
      "distribution": "internal"
    },
    "testflight": {
      "distribution": "internal",
      "ios": {
        "simulator": false,
        "buildConfiguration": "Release"
      },
      "env": {
        "EXPO_PUBLIC_API_URL": ""
      }
    },
    "production": {
      "distribution": "store",
      "ios": {
        "simulator": false,
        "buildConfiguration": "Release",
        "autoIncrement": true
      },
      "env": {
        "EXPO_PUBLIC_API_URL": ""
      }
    }
  },
  "submit": {
    "production": {
      "ios": {
        "appleId": "",
        "ascAppId": "",
        "appleTeamId": ""
      }
    }
  }
}
